
.input-group-btn .btn{
	background-color: #1eb450;
	
}


.search{
	margin-top: -10px;
}

.navigation_bar{
	margin-top: 20px;
}

.onepage{
	margin-top: 20px;
}

.navigation_bar ul.nav >li>a{
	color: #000000;
	font-size: 17px;
	font-weight: 560;
}

.twopage{
	padding: 2px 0 0 2px;
	height: auto;
	position: relative;
	
}


.new-message-box{
	
	margin-top: 20px;
	height: 100%;
	width: 100%;
	float: left;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 15px #e6e6e6;
	padding: 20px;
}
.box-title{
	color: #000000;
	font-weight: bold;
	font-size: 18px;
}
.new-message {
	margin-top: 17px;
	line-height: 23px;
}

.container {
	margin-top: 60px;
}

.twopage .row{
	
	margin-top: 10px;
	
}

.first-school{
	background-color: #1eb450;
	height: 100%;
	margin-left: 0px;
	margin-top: -30px;
	
	float: left;
	padding: 0 2px 2px 0;
	position: relative;
	overflow: hidden;
}

.classicon h3{
	margin-top: 120px;
	color: #fff5e1;
	margin-left: 50px;
}
.classicon h1{
	margin-top: 30px;
	color: #fff5e1;
	margin-left: 70px;
}

.school-hot {
    width: 350px;
    float: right;
}

.school-hot .hot-title {
    height: 47px;
    line-height: 47px;
}

.school-hot .hot-title .hot-title-p {
    float: left;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.school-hot .hot_school_content {
    height: 536px;
    border: 1px solid #EEEEEE;
    padding: 20px;
}

.school-hot .hot_school_content .academy_item_box {
    margin-bottom: 27px;
    height: 18px;
    line-height: 18px;
}


.school-hot .hot_school_content .academy_item_box .academy_item_title {
    float: left;
}

.school-hot .hot_school_content .academy_item_box .academy_item_title .academy_num {
    float: left;
    margin: 0;
    width: 18px;
    text-align: center;
    background: #1eb450;
	opacity: 0.9;
    color: white;
    font-size: 12px;
    margin-right: 17px;
}
.school-hot .hot_school_content .academy_item_box .academy_item_title .ellipsis {
    float: left;
    margin: 0;
    font-size: 18px;
    color: #000000;
    transition: all 0.4s;
    max-width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.school-hot .hot_school_content .check_more {
    width: 98px;
    height: 39px;
    border: 1px solid #EEEEEE;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin: 0 auto;
}

.layui-tab ul.layui-tab-title >li{
	float: left;
	font-size: 18px;
	color: #000000;
	margin-right: 32px;
	cursor: pointer;
	font-weight: bold;
}
.popular-school .school_item {
    cursor: pointer;
    float: left;
    width: 300px;
    height: 110px;
    overflow: hidden;
    margin-right: 1.4%;
    margin-bottom: 10px;
    position: relative;
    transition: all .2s linear;
    top: 0;
    box-shadow: 0px 0px 15px #e6e6e6;
}
.popular-school .school_item img{
	width: 65px;
	height: 65px;
	position: absolute;
	left: 15px;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.popular-school .school_item .school_msg h3 {
    color: #000000;
    font-size: 16px;
    margin-top: 23px;
	margin-left: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.4s;
    font-weight: bold;
}

.popular-school .school_item .school_msg .check_btn .school_class {
    display: inline-block;
	margin-left: 120px;
	margin-top: 30px;
    padding: 0px 6px;
    border: 1px solid #EEEEEE;
}

.popular-school .school_item .school_msg .check_btn span+span {
	margin-top: 30px;
	margin-right: 26px;
    float: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.twopage .layui-elem-field{
	width: 97%;
}

.layui-elem-field legend{
	color: #000000;
	font-weight:bold ;
	margin-left: 45px;
}

.threepage .layui-elem-field{
	margin-top: 40px;
	width: 97%;
}
 .layui-elem-field legend >a{
	color: #000000;
	font-weight: 200;
	font-size: 17px;
	margin-left: 665px;
	color: #009688 ;
}


.first-major{
	background-color: #1eb450;
	height: 370px;
	margin-left: 0px;
	margin-top: -30px;
	width: 280px;
	float: left;
	padding: 0 2px 2px 0;
	position: relative;
	overflow: hidden;
}

.major_item {
    width: 209px;
    height: 168px;
    margin-right: 10px;
    float: left;
    text-align: center;
    background: #FFFFFF;
    padding-top: 20px;
    margin-bottom: 10px;
    transition: all .2s linear;
    cursor: pointer;
	box-shadow: 0px 0px 15px #e6e6e6;
}

 .major_item h3 {
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
    font-weight: bold;
    transition: all 0.4s;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 4px;
}
.major_item p {
    color: #999999;
    font-size: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    padding: 0 4px;
    height: 35px;
}
.major_item img {
    width: 60px;
    height: 60px;
}

.campus_scenery{
	float: left;
	background-color: #FFFFFF;
	margin-top: 20px;
	padding: 0 2px 2px 0;
	position: relative;
	overflow: hidden;
}

.campus_scenery >a{
	width: 300px;
	height: 185x;
	float: left;
	text-align: center;
	position: relative;
}
.classicon1 h1{
	margin-top: 70px;
	color: #dle973;
}
.classicon1 h3{
	color: #fff5e1;
}
.classicon1 {
	width: 300px;
	height: 200px;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	opacity: 0;
}
.classicon1:hover{
	background: #1eb450;
	opacity: 0.9;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}
 .copyright-con {
    position: relative;
    margin-bottom: 0px;
    margin: 0 auto;
    width: 1200px;
}
.bottom{
	height: auto;
	padding: 20px 0 29px 0;
	color: #333;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	background: #FFFFFF;
	margin: auto;
}


 .bottom-part .copy-first {
    text-align: center;
    color: #000000;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 30px;
}
.bottom-part .copy-first span {
    padding: 0 10px;
    color: #000000;
    font-size: 14px;
	margin-bottom: 20px;
}