.input-group-btn .btn{
	background-color: #1eb450;
	
}

.search{
	margin-top: -10px;
}

.navigation_bar{
	margin-top: 20px;
}

.onepage{
	margin-top: 20px;
}

.navigation_bar ul.nav >li>a{
	color: #000000;
	font-size: 17px;
	font-weight: 560;
}

@media screen and (min-width: 1280px){
    .container{
        width:1280px;
    }

}

.firsthead{
    line-height: 25px;
}

.logo img{
    width: 100%;
}
div.head{
    display: block;
    background: #eee;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
}

.onepage ul > li {
	font-size: 20px;
	font-weight: 500;
}